{{define "Layout"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <link rel='stylesheet' href='static/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="static/parole.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=yes">
  </head>
  <body>
    <div class="header">
      {{template "Header" .}}
    </div>
    <div class="container">
      {{template "Container" .}}
    </div>
  </body>
</html>
{{end}}
{{define "Header"}}
<span>
  How to create a header that is to good to be forgotten?
</span>
{{end}}