body{
	padding: 0px;
	margin: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
}
.header{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 30px;
	background-color: rgb(0, 153, 204);
	color: rgb(255,255,255);
	text-align: center;
	font-weight: bold;
}
.container{
	margin-top: 35px;
	width: 100%;
}

table{
	text-align: right;
	margin-right: auto;
	margin-left: auto;
}
.jlfbutton{
	border:0px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;
	font-size:14px;
	padding: 8px 12px 8px 12px; text-decoration:none;
	display:inline-block;
	font-weight:;
	color: #303030;
	background-color: #f4f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
	background-image: -webkit-linear-gradient(top, #F4F5F5, #dfdddd);
	background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.jlfbutton:hover{
	border:0px solid #bfc4c4;
	background-color: #d9dddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#C6C3C3));
	background-image: -webkit-linear-gradient(top, #d9dddd, #C6C3C3);
	background-image: -moz-linear-gradient(top, #d9dddd, #C6C3C3);
	background-image: -ms-linear-gradient(top, #d9dddd, #C6C3C3);
	background-image: -o-linear-gradient(top, #d9dddd, #C6C3C3);
	background-image: linear-gradient(to bottom, #d9dddd, #C6C3C3);
	filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#C6C3C3);
}
.jlftext{
	background:#FAFAFA;
	color:#303030;
	border:1px solid #DBDBDB;
	border-radius:3px ;
	font-size: 16px ;
	width: 250px ;
	padding: 5px ;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0px 0px 6px #DCDCDC;
	-webkit-box-shadow: 0px 0px 6px #DCDCDC;
	-moz-box-shadow: 0px 0px 6px #DCDCDC;
}
.jlftext:hover {
	border: 1px solid #bfbfbf
}
.jlftext:focus {
	border: 1px solid #0080ff
}
.jlfform {
	margin: 30px;
	width: 400px;
	text-align: right;
}
.jlfform div {
	padding: 5px;
}

@media screen and (min-width: 700px) {
	.container{
		width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 319px) {
	.container{
		width: 320px;
		margin-left: auto;
		margin-right: auto;
	}
}